.header {
  text-align: center;
  padding-top: 30px;
}

body {
  background-color: #90EE90;
  padding: 0 50px;
}

.aboutme {
  font-weight: bold;
}

ul {
  font-weight: bold;
}

li {
  margin-top: 5px;
}

.columns {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.box1 {
  text-align: center;
}

.box2 {
  text-align: center;
}
