.header {
  text-align: center;
  padding-top: 30px;
}

body {
  background-color: #E8E8E8;
  padding: 0 50px;
}

h4 {
  font-weight: bold;
}

li {
  margin-top: 5px;
}

.columns {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.box1 {
  
}

.box2 {
  
}

.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 300px;
  border-radius: 50%;
}
